* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", Arial, sans-serif;
    background: #f9f9f9;
    color: #333;
    line-height: 1.6;
}
header {
    background: #5e5d5d;  
    color: white;
    padding: 1.5rem 1rem;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

header h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

nav a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
    font-weight: 500;
}

nav a:hover {
    opacity: 0.8;
}

img{
    height: 500px;
    width: 500px;
    transform: translate(300px,0px);
}

main {
    max-width: 1000px;
    margin: auto;
    padding: 2rem 1rem;
}

h2 {
    color: #333;
    margin-bottom: 0.5rem;
}
p{
    font-size: larger;
}

.card {
    background: white;
    padding: 1.5rem;
    margin: 1rem 0;
    border-radius: 12px;
    box-shadow: 0 3px 7px rgba(0,0,0,0.1);
}

footer {
    background: #ececec;
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
    font-size: 0.9rem;
    color: #555;
}


